.wrapper{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.video{
    width: 100%;
    height: auto;
}

.controll-buttons{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 16px;
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
}

.control-volume{
    display: none;
    width: 24px;
    height: 64px;
    caret-color: transparent;
    background: rgba(22, 24, 35, 0.34);
    border-radius: 32px;
    position: absolute;
    bottom: 50px;
    right: 26px;
    .input-volume{
        -webkit-appearance: none;
        -moz-appearance :none;
        appearance :none;
        background-color: rgba(255, 255, 255, 0.34);
        transform: rotate(-90deg);
        height: 2px;
        width: 46px;
        position: absolute;
        bottom: 32px;
        left:-11px;
        border-radius: 4px;
        caret-color: transparent;
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 12px;
            height: 12px;
            background-color: #fff;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

.volume:hover .control-volume{
   display: block;
}

.volume-icon::after{
    content: "";
    display: block;
    width: 30px;
    right: 23px;
    height: 100px;
    background-color: transparent;
    position: absolute;
    bottom: 23px;
}

.time{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 12px;
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    .input[type="range"]::-webkit-slider-runnable-track {
        background: #053a5f;
        height: 2px;
    }
}

.timeline{
    --c: #fff; /* active color */
    --g: 0px; /* the gap */
    --l: 4px; /* line thickness*/
    --s: 15px; /* thumb size*/
    -webkit-appearance: none;
    -moz-appearance :none;
    appearance :none;
    cursor: pointer;
    flex:1;
    height: 2px;
    background: none;
    --_c: color-mix(in srgb, var(--c), #000 var(--p,0%));
    overflow: hidden;
    &:focus-visible,
    &:hover{
        height: var(--s);
    }

    &:active,
    &:focus-visible{
        --_b: var(--s)
    }
    &::-webkit-slider-thumb {
        margin-left: calc(0px - var(--s));
        -webkit-appearance: none;
        appearance: none;
        height: var(--s);
        background-color: #fff;
        aspect-ratio: 1;
        border-radius: 50%;
        box-shadow: 0 0 0 var(--_b,var(--l)) inset var(--_c);
        border-image: linear-gradient(90deg, var(--_c) 50%,#ababab 0) 1/0 100vw/0 calc(100vw + var(--g));
        clip-path:polygon(
           0     calc(50% + var(--l)/2),
          -100vw calc(50% - var(--l)/2),
           0     calc(50% - var(--l)/2),
           0 0,
           100% 0,
           100%  calc(50% - var(--l)/2),
           100vw calc(50% - var(--l)/2),
           100%  calc(50% + var(--l)/2),
           100% 100%,
           0 100%);
    }
    &::-webkit-progress-value{
        background-color: #fff;
    }
}

.time-current{
    font-size: 1rem;
    color: #fff;
    margin-left: 16px;
}

.options{
    position: absolute;
    top: 0;
    right: 0;
}

.controll-buttons, .time{
    opacity: 0;
    transition: .5s; 
}

.wrapper:hover .controll-buttons, 
.wrapper:hover .time{
    opacity: 1;
    transition: .5s;
}