.wrapper{
    --search-border-radius: 92px;
    --search-heigth: 46px;
    --separate-height: 28px;
    --search-btn-width: 52px;
    width: 100%;
    height: var(--default-layout-header-height,60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner{
    height: 100%;
    width: var(--default-layout-width,1150px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    background-color: rgba(22,24,35,0.06);
    height: var(--search-heigth);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    position: relative;
    border: 1.5px solid transparent;
    align-items: center;

    input{
        caret-color: var(--primary);
        flex: 1;
        height: 100%;
        color: #000;
        font-size: 1.6rem;
        padding: 12px 0;
        background-color: transparent;
    }

    input:not(:placeholder-shown)~ .search-btn{
        color: rgba(22,24,35,0.75);
    }

    &::after{
        content: "";
        position: absolute;
        width: 1px;
        height: var(--separate-height);
        background-color: rgba(22,24,35,0.12);
        top: calc((var(--search-heigth) - var(--separate-height))/2);
        right: var(--search-btn-width);
    }

    &:focus-within{
        border-color:  rgba(22,24,35,0.2);
    }
}

.search, .search-result{
    width: 361px;
}



.search-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: var(--search-btn-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22,24,35,0.34);

    &:hover{
        background-color: rgba(22,24,35,0.03);
        cursor: pointer;
    }
}

.search-title{
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22,24,35,0.5);
}

.clear-btn,
.loading{
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22,24,35,0.34);
}
