.wrapper{
    border-radius: 50%;
    padding: 6px;
    background-color: rgba(22, 24, 35, 0.02);
    cursor: pointer;
    display: flex;
    width: 48px;
    height: 48px;
}

.icon{
    margin: auto;
    color: rgb(22, 24, 35);
    width: 24px;
    height: 24px;
}